.top-navbar{
    
    background-size: cover;
        min-height: 10vh;
        height: auto;
        color: white;
        background-repeat: no-repeat;
        background-position: center center;
        background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../../../images/top-bg.jpg');
}
.logo-img{
    width: 8%;
    margin-right: 2%;
}